<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Battleship</title>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 style="text-align: center;"><u>Previous moves</u></h3>
      </div>
      <div class="col-6">
        <table class="table table-bordered"
          style="text-align: center; background-color: rgb(94, 183, 213); margin-top: 7%;">
          <thead style="background-color: darkgray;">
            <th scope="col">X</th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
            <th scope="col">G</th>
            <th scope="col">H</th>
          </thead>
          <tbody>
            <% for (let i = 1; i < 9; i++) { %>
            <tr>
              <% for (let j = 0; j < 9; j++) { %>
              <% if (j === 0) { %>
              <td style="background-color:darkgray;">
                <p><%= i %></p>
              </td>
              <%  } else { %>
              <td>

              </td>
              <% } %>
              </td>
              <% } %>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="col" style="text-align: center;">
        <h3><u> Ships left</u></h3>
        <% if (myGame) { %>
           
          <p>Your Carrier: <%= myGame.carrier %></p> 
          <p>Your Battleship: <%= myGame.battleship %></p> 
          <p>Your Cruiser: <%= myGame.cruiser %></p>
          <p>Your Submarine: <%= myGame.submarine %></p> 
          <p>Your Destroyer: <%= myGame.destroyer %></p> 
          <% } else { %>
          <p>place you're ships</p>  
          <% } %>
      </div>

    </div>
  </div>
  <div class="contiainer" style="margin-top: 30px;">
    <form style="text-align: center;" action="/game" method="POST">
      <div class="row">
        <div class="col-1">
        </div>

        
          <div class="col" style="text-align: center;">
            <label for="carrier">
              <h5><em><u>Carrier (<i>5 tiles</i>)</u></em></h5>
            </label>
            </br>
            <label for="carrierStart">Start:</label>
            <input name="carrierStart" type="text" style="max-width: 50px;">
            </br>
            <label for="carrierFinish">Finish:</label>
            <input name="carrierFinish" type="text" style="max-width: 50px;">
            </br>
          </div>

          <div class="col" style="text-align: center;">
            <label for="battleship">
              <h5><em><u>Battleship (<i>4 tiles</i>)</u></em></h5>
            </label>
            </br>
            <label for="battleshipStart">Start:</label>
            <input name="battleshipStart" type="text" style="max-width: 50px;">
            </br>
            <label for="battleshipFinish">Finish:</label>
            <input name="battleshipFinish" type="text" style="max-width: 50px;">
            </br>
          </div>

          <div class="col" style="text-align: center;">

            <label for="cruiser">
              <h5><em><u>Cruiser (<i>3 tiles</i>)</u></em></h5>
            </label>
            </br>
            <label for="cruiserStart">Start:</label>
            <input name="cruiserStart" type="text" style="max-width: 50px;">
            </br>
            <label for="cruiserFinish">Finish:</label>
            <input name="cruiserFinish" type="text" style="max-width: 50px;">
            </br>
          </div>
        
        
          <div class="col" style="text-align: center;">
            <label for="submarine">
              <h5><em><u>Submarine (<i>3 tiles</i>)</u></em></h5>
            </label>
            </br>
            <label for="submarineStart">Start:</label>
            <input name="submarineStart" type="text" style="max-width: 50px;">
            </br>
            <label for="submarineFinish">Finish:</label>
            <input name="submarineFinish" type="text" style="max-width: 50px;">
            </br>
          </div>
        
        
          <div class="col" style="text-align: center;">
            <label for="Destroyer">
              <h5><em><u>Destroyer (<i>2 tiles</i>)</u></em></h5>
            </label>
            </br>
            <label for="destroyerStart">Start:</label>
            <input name="destroyerStart" type="text" style="max-width: 50px;">
            </br>
            <label for="destroyerFinish">Finish:</label>
            <input name="destroyerFinish" type="text" style="max-width: 50px;">
            </br>
          </div>
        
        <div class="col-1">
        </div>
      </div>
        <button type="submit" method= "POST" action="/game">Submit</button>
    </form>
  </div>



  <form method="GET" action="/game">
    <button type="submit" class="btn btn-danger">Start Game</button>
  </form>





  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>